.productdisplay{
    width:80%;
    margin:auto;
    display:flex;
}

.productdisplay-left{
    flex:1;
    display:flex;
}
.productdisplay-right{
    flex:1;
}
.productdisplay-img-list{
    margin-top:10px;
    width:120px;
}
.productdisplay-img-list img{
    width:120px;
    height:auto;
}
.productdisplay-main-img{
    height:100%;
    width:100%;
    padding:10px;
}

.productdisplay-right{
    display:flex;
    flex-direction:column;
}
.productdisplay-right-star{
    display:flex;
    font-size:20px;
    gap:20px;
}

.prices{
    font-size:50px;
    display:flex;
    gap:20px;
}
.prices .old{
    text-decoration:line-through;
    font-weight: 230;
    margin-right:10px;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 14px;
}
.productdisplay-right-star img{
    width:20px;
    height:20px;
}
.cart{
    cursor:pointer;
    margin-top:30px;
    width:200px;
    height:40px;
    font-size:18px;
    background: rgb(238, 101, 101);
    color:white;
    padding:10px;
}